<h1>List of Groups</h1>
<p>Find me in app/views/groups/index.html.erb</p>
<table>
	<tr>
		<th>Name</th>
		<th>Email</th>
		<th></th>
	</tr>
<% @groups.each do |g| %>
<tr>
	<td><%=g.name%></td>
	<td><%=g.email%></td>
	<td><%=link_to("show", show_group_path(g)) %></td>
</tr>
<% end %>
</table>