<div class="footer">
  <p>
    	<%= link_to "About", '/about'%> | Contact: 
      <a href="mailto:CollabMe@null.net">Email Us</a>
      |
      <a href="https://github.com/jnthntatum/CollabMe">GitHub</a>
      |
      Powered by <a href="http://twitter.github.io/bootstrap/">bootstrap</a>.
  </p>
</div>