<% months = ['January', 'February', 'March', 'April', 'May', 'June', 'July', 'August', 'September', 'October', 'November', 'December'] %>
<% months.each do |m| %>
  <option><%= m %></option>              
<% end %>              