<div class="nav nav-list">
  <li class="nav-header">Ongoing Projects</li>
    <li><a href="#">Project1</a></li>
    <li><a href="#">Project2</a></li>
  <li class="nav-header">Completed Projects</li>
    <li><a href="#">Project3</a></li>
  <li class="nav-header">Groups</li>
    <li><a href="#">Group 1</a></li>
    <li><a href="#">Group 2</a></li>
  <li class="nav-header">Related Researchers</li>
    <li><a href="#">Researcher 1</a></li>
</div>