/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the top of the
 * compiled file, but it's generally better to create a new file per style scope.
 *
 *= require_self
 *= require_tree
 */

* {
	margin: 0;
	
	#width: auto !important;
}

html {
	height: 100%;
}

body {
	height: 100%;
	background: white;
}

/* Wrapper */
.wrapper {
	min-height: 100%;
	height: auto !important;
	height: 100%;
	margin: 0 auto -30px;
}

/* Banner */
.banner {
	width: 100%;
	background: rgb(100, 100, 160);
	#padding-left: 10px;
	#padding-right: 10px;
}

.banner a {
	color: white;
}

.banner < h1 {
	font-weight: bold;
	font-variant: small-caps;
	color: #FFFFFF;
	font-size: 40px;
}

/* Header */
.header {
	height: 50px;
}

.header #logo {
	display: inline-block;	
	float: left;
}

.header #user_input_header {
	display: inline-block;
	padding-top: 10px;
	margin-left: 10px;
	height: 40px;
}

.header #search_bar {
	float: left;
	height: inherit;
}

.header #quick_links {
	float: left;
	padding-top: 10px;
	margin-left: 20px;
}

.header #user_panel {
	position: absolute;
	right: 0;
	padding-top: 10px;
}

#logo {
  padding: 5px;
}

.navbar .brand {
  @elementHeight: 32px;
  padding: ((@navbarHeight - @elementHeight) / 2 - 2) 20px ((@navbarHeight - @elementHeight) / 2 + 2);
}

/* Contents */
.contents {
	height: 100%;
	#width: 100%;
	padding: 0 30px;
	#width: 100% -30px 100% -30px;
	#overflow: auto;
	#height: auto !important;
}

/* Sidebar */
.sidebar {
  border: 1px solid black;
  #width: 100%;
  #height: 100%;
  #min-width: 200px;
  #padding-left: 0;
  #margin-left: 0;
  overflow: hidden;
}

/* Footer */
.footer, .push {
	height: 30px;
}
