/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the top of the
 * compiled file, but it's generally better to create a new file per style scope.
 *
 *= require_self
 *= require_tree .
 */

body{
	padding:0;
	border:none;
	margin:0;
	font-family:tahoma, verdana, arial, sans-serif;
}

div.banner{
	position: absolute;
	min-height: 50px;
	max-height: 50px;
	left: 0;
	min-width: 100%;
	background: rgb(100, 100, 160);
	padding-left:10px;

}
.banner < h1{
	font-weight:bold;
	font-variant:small-caps;
	color:#FFFFFF;
	font-size:40px;
}

div.header{
	top: 0; 
}

div.body{
	background: rgb(250, 250, 250);
	float: none;
	position: absolute;
	top: 50px;
	bottom: 50px;
	left: 0;
	min-width: 100%;
	border:none;
	margin:0;
	padding-left: 30px;
	padding-right: 30px;
}
div.footer{
	bottom:0px;
}