/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the top of the
 * compiled file, but it's generally better to create a new file per style scope.
 *
 *= require_self
 *= require_tree
 */

* {
	margin: 0;	
}

html {
	height: 100%;
}

body {
	height: 100%;
	background: white;
}

/* Wrapper */
.wrapper {
	min-height: 100%;
	height: auto !important;
	height: 100%;
	margin: 0 auto -30px;
}

/* Header */
.header {
	height: 50px;
}

.header #logo {
	display: inline-block;	
	float: left;
}

.header #user_input_header {
	display: inline-block;
	padding-top: 10px;
	margin-left: 10px;
	height: 40px;
}

.header #search_bar {
	float: left;
	height: inherit;
}

.header #quick_links {
	float: left;
	padding-top: 10px;
	margin-left: 20px;
}

.header #user_panel {
	position: absolute;
	right: 0;
	padding-top: 10px;
}

#logo {
  padding: 5px;
}

.jumbotron {
  text-align: center;
}

.border_row {
  min-height: 280px;
}

/* Contents */
.contents {
	height: 100%;
	padding: 0 30px;
}

/* Sidebar */
.sidebar {
  border: 1px solid black;
  overflow: hidden;
}

/* Footer */
.footer, .push {
	height: 30px;
}

.footer {
	background-color: #333333;
}

.footer p {
	color: #cccccc;
	text-align: center;
}

/* Thumbnails */
.img-circle {
	display: inline-block;
	height: 50px !important;
	width: 50px !important;
	margin-right: 5px;
}

.small_profile {
	margin: 2px auto;
}