// Place all the styles related to the Researchers controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.border_row {
  min-height: 200px;
  #max-height: 250px;
  height: 225px;
  border: 1px solid black;
  #overflow: hidden;
}