// Place all the styles related to the Researchers controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

#back_to_profile {
  padding-left: 2px;
  margin-top: -5px;
  margin-bottom: 20px;
}

#profile_picture {
  padding-top: 15px;
}

.tab-pane {
  padding: 10px;
  padding-bottom: 30px;
}

// Experience
.experience_header {
  padding-bottom: 20px;
}

.experience_header h4 {
  margin-bottom: 3px;
  font-weight: bold;
}

.experience_header h5 {
  margin: 2px 0;
  font-size: 16px;
  font-weight: normal;
}

.experience_header p {
  margin: 2px 0;
}

.experience_date {
  color: #999999;
}

.activity {
  padding-left: 20px; 
}

.article {
  margin: 20px auto;
}

// Posts
#post_div {
  border-top: 1px solid #cccccc;
}

.post_post {
  margin-bottom: 10px;
}

.post_creator {
  padding-left: 20px;
}

.post_timestamp {
  font-size: 12px;
}

.post_form {
  margin-top: 20px;
}
