/*
whiteboard.js
*/

.tool_bar{
	background-color: rgb(230, 230, 230);
}
.tool {
	display: inline-block;
	max-height: 32px;
	min-width: 32px;
	min-height: 3pu2px;
	border-width: 2px 2px 2px 2px;
	border-style: solid;
	margin: 1px;
	border-color: white;
	border-radius: 5px;
}
.tool_button {
	display: inline-block;
	max-width: 25px;
	max-height: 25px;
	min-width: 25px;
	min-height: 25px;
	border-width: 2px 2px 2px 2px;
	border-style: solid;
	margin: 1px;
	border-color: black;
	border-radius: 5px;
}

.tool_button.color_selected{
	border-color: yellow;
}

.tool.tool_selected{
	border-color: red;
}

.canvas_wrapper{
	height: 500;
	width: 1000;
	border-width: 2px 2px 2px 2px;
	border-radius: 2px;
	border-color:  2px;
	border-style: solid;
	padding: 0px; 
}

canvas.whiteboard{
	height: 500;
	width: 1000;
	
}

p.friend_listing{
	line-height: 100%;
	margin: 0;
}

.chat_window{
	display: block;
	width: 200px;
	position: absolute;
	bottom: 90%;
	float: left;
	min-height: 130px;
	left: auto;
	font-family: sans-serif;
	font-size: 9pt;
	margin: 0;
}

.chat_friend_list{
	display: block;
	background-color: white;
	border-radius: 5px;
	border-style: solid;
	border-width: 1px;
	border-color: rgba(0,0,0,40);
}

.chat_bar{

	position: fixed;
	width: auto;
	right: 0;
	bottom: 0;
	height: 30px;
	background-color: rgb(220,220, 240);
	text-align: left;
	direction: ltr;
}

.chat_nub{
	position: relative;
	clear: none;
	margin-left: 4px; 
	display:inline-block;
	min-width: 200px;
}

.friend_listing{

}

.chat_history{
	min-height: 100px;
	border-color: rgba(220, 220, 220, 180);
	border-style: solid;
	border-radius: 5px;
	border-width: 3px;
	line-height: 100%;
	margin: 0;
}

.chat_input_wrapper{
	min-height: 30px;
}