<h1>About</h1>
<p>Shayon Saleh, Kristian Gampong, Gavin Kho, and Jon Tatum</p> 
<p>CollabMe is a resource connecting researchers to work on projects. It has two main components: networking and project management. We designed this site over the course of 6 weeks</p>
<h2>Notable Features:</h2>
<ul>
	<li>Researcher Search</li>
	<li>Project Management</li>
	<li>Google Scholar Integration</li>
	<li>Groups</li>
	<li>Integrated E-mail</li>
	<li>Chat</li>
	<li>Live Multiuser Whiteboarding</li>
</ul>
<h2>Technologies Used:</h2>
<ul>
	<li>Bootstrap</li>
	<li>Nodejs</li> 
	<li>Socket.io</li>
	<li>JQuery</li>
	<li>Google Scholar</li>
</ul>