<div class="jumbotron masthead">
  <div class="container">
    <h1>CollabMe</h1>
    <p>Connecting researchers from around the globe to reach new heights.</p>
    <p>
      <%= link_to "Register", new_researcher_path, :class => "btn btn-primary btn-large" %>
    </p>
    <ul class="masthead-links">
      <li>
        <a href="/projects">Projects</a>
      </li>
      <li>
        <a href="/groups">Groups</a>
      </li>
      <li>
        <a href="/researchers">Researchers</a>
      </li>
    </ul>
  </div>
</div>