<h1>Search Projects</h1>

<p>Searched for <%= @query%></p>

<%@projects.each do |project|%>
	<% name = project.name%>
	<%= link_to name, :controller => "projects", :action => "show", :id => project%>
<%end%>