<h1>Search Groups</h1>

<p>Searched for <%= @query%></p>

<%while @pq.empty? == false%>
	<% app = @pq.pop%>
	<% id = app[:ID] %>
	<% group = Group.find_by_id(id)%>
	<% name = group.name%>
	<%= link_to name, :controller => "groups", :action => "show", :id => group%>
<%end%>