<h1>Search Projects</h1>

<p>Searched for <%= @query%></p>

<%while @pq.empty? == false%>
	<% app = @pq.pop%>
	<% id = app[:ID] %>
	<% project = Project.find_by_id(id)%>
	<% name = project.name%>
	<%= link_to name, :controller => "projects", :action => "show", :id => project%>
<%end%>