<h1>Search Researchers</h1>

<p>Searched for <%= @query%></p>

<%@researchers.each do |researcher|%>
	<% researcher_name = researcher.first_name + " " + researcher.last_name%>
	<%= link_to researcher_name, :controller => "researchers", :action => "show", :id => researcher%><br>
<%end%>
